ul.breadcrumbs
  li.breadcrumbs-item
    a(href="index.html")
      <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.3571 0.999999L2 9.47059M2 9.47059L10.3571 17.9412M2 9.47059C6.95238 9.47059 17.9095 9.47059 22.119 9.47059C27.381 9.47059 28 14.8039 28 16.0588C28 17.0627 28 21.549 28 25" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    span /
  if breadcrumbsSubitem
    each v in breadcrumbsSubitem
      li.breadcrumbs-item
        a(href="#")= v.label
