.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  svg {
    stroke: $grey;
    transition: stroke .3s ease-in-out;
    height: var(--font24);
  }
  span {
    @include font-regular;
    color: $grey;
    font-size: var(--font24);
    padding: 0 24px;
    transition: color .3s ease-in-out;
    @include to(1180px) {
      padding: 0 12px;
    }
  }
  .breadcrumbs-item {
    @include font-regular;
    font-size: var(--font24);
    text-transform: uppercase;
    line-height: 100%;
    display: flex;
    align-items: center;
    a {
      color: $wc;
      transition: color .3s ease-in-out;
    }
  }
}
