.panorama-wrapper {
  position: relative;
  margin: calc(var(--heafer-h) + var(--offset20)) var(--offset20) calc(var(--offset20)/2);
  height: calc(100vh - var(--heafer-h) - var(--offset20) - calc(var(--offset20)/2) - var(--smarto-h));
  .breadcrumbs {
    padding: var(--offset50) 119px;
  }
  .panorama {
    background: $orange-light;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-2);
  }
}
