.panorama-wrapper {
  position: relative;
  margin: calc(var(--heafer-h) + var(--offset20)) var(--offset20) calc(var(--offset20)/2);
  height: calc(100vh - var(--heafer-h) - var(--offset20) - calc(var(--offset20)/2) - var(--smarto-h));
  .breadcrumbs {
    padding: var(--offset50) 119px;
    z-index: 2;
    position: absolute;
    @include to(1180px) {
      padding: var(--offset50) 50px;
    }
    @include to(680px) {
      padding: var(--offset20) var(--offset20);
    }
  }
  .panorama {
    background: $orange-light;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-2);
    overflow: hidden;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
}


.audio-play-button {
  border-radius: 6px;
  background-color: $dark;
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 36px;
  height: 36px;
  z-index: 20;
  transition: all .25s ease-out;
  border: none;
  svg:first-of-type {
    opacity: 0;
  }
  // svg:last-of-type {
  //   opacity: 1;
  //   animation: fadeInRotate .25s ease-out 1;
  // } 

  &:hover {
    background-color: $orange-light;
  }
  &.paused svg:last-of-type {
    opacity: 1;
    animation: fadeInRotate .2s ease-out 1;
  } 

  &.playing {
    svg:first-of-type {
      opacity: 1;
      animation: fadeInRotateReverse .2s ease-out 1;
    } 
    svg:last-of-type {
      opacity: 0;
    } 
  }
  svg {
    position: absolute;
    width: 55%;
    height: 55%;
    left: 22.5%;
    top: 22.5%;
    fill: #fff;
    transform-origin: center;
    transform-box: fill-box;
  }
}


audio {
  display: none;
}

@keyframes fadeInRotate {
  from {
    opacity: 0;
    transform: rotate(180deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes fadeInRotateReverse {
  from {
    opacity: 0;
    transform: rotate(-180deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}