header.header
  a(href="index.html").header-logo
    img(src="./assets/images/logo.svg")
  .header-info-wrapper
    a(href="#" target="_blank").header-location
      <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.94668 15.3998C6.94595 15.4003 6.94521 15.4009 6.94448 15.4014C6.77355 15.2897 6.52921 15.1244 6.23576 14.9097C5.64155 14.475 4.8505 13.8414 4.0612 13.0455C2.46749 11.4385 0.956177 9.24665 0.956177 6.74699C0.956177 3.27903 3.65978 0.5 6.95618 0.5C10.2526 0.5 12.9562 3.27932 12.9562 6.74732C12.9562 9.04976 11.451 11.2403 9.8461 12.9061C9.05412 13.7282 8.26039 14.3993 7.66405 14.865C7.36629 15.0975 7.11877 15.2781 6.94668 15.3998ZM4.04183 6.7466C4.04183 8.38917 5.3294 9.75268 6.95618 9.75268C8.58292 9.75268 9.87053 8.38918 9.87053 6.7466C9.87053 5.10421 8.58289 3.74074 6.95618 3.74074C5.32947 3.74074 4.04183 5.10421 4.04183 6.7466Z"/>
      </svg>
      | Какабадзе 2 6, 2 этаж. г. Батуми. Аджара. Грузия
    a(href="#").web-camera-btn.btn.btn-text
      span Веб камера
    include ../components/lang/lang.pug
    a(href="tel:+995596076076").tell-btn
      span +995 596 076 076
    a(href="#").appartment-btn.btn.btn-text.orange-btn
      span Выбрать дом
    .menu-btn(data-open-menu)
      span Меню
      .menu-btn-icon
        span
        span
        span
