.menu(data-menu)
  .menu-wrapper
    .menu-bg Меню
    .menu-close(data-close-menu)
      <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.93934 2.56068L32.9393 34.5607L35.0607 32.4393L3.06066 0.439361L0.93934 2.56068ZM3.06066 34.5606L35.0607 2.56066L32.9393 0.43934L0.93934 32.4393L3.06066 34.5606Z"/>
      </svg>
    ul.menu-list
      li
        a(href="index.html").link Главная
          span /
            sup 01
          img.menu-img(src="./assets/images/menu/1.png" alt="img1")
      li
        a(href="#").link Планировки
          span /
            sup 02
          img.menu-img(src="./assets/images/menu/2.png" alt="img1")
      li
        a(href="gallery.html").link Галерея
          span /
            sup 03
          img.menu-img(src="./assets/images/menu/1.png" alt="img1")
      li
        a(href="about.html").link Про проект
          span /
            sup 04
          img.menu-img(src="./assets/images/menu/2.png" alt="img1")
      li
        a(href="infrastructure.html").link Инфраструктура
          span /
            sup 05
          img.menu-img(src="./assets/images/menu/1.png" alt="img1")
      li
        a(href="panorama.html").link Панорама
          span /
            sup 06
          img.menu-img(src="./assets/images/menu/2.png" alt="img1")
      li
        a(href="characteristics.html").link Характеристики
          span /
            sup 07
          img.menu-img(src="./assets/images/menu/1.png" alt="img1")
      li
        a(href="web-camera.html").link Веб-камера
          span /
            sup 08
          img.menu-img(src="./assets/images/menu/2.png" alt="img1")
      li
        a(href="documents.html").link Документы
          span /
            sup 09
          img.menu-img(src="./assets/images/menu/1.png" alt="img1")
      li
        a(href="construction_progress.html").link Ход строительства
          span /
            sup 10
          img.menu-img(src="./assets/images/menu/2.png" alt="img1")
      li
        a(href="terms.html").link Условия оплаты
          span /
            sup 11
          img.menu-img(src="./assets/images/menu/1.png" alt="img1")
      li
        a(href="developer.html").link Девелопер
          span /
            sup 12
          img.menu-img(src="./assets/images/menu/2.png" alt="img1")
      li
        a(href="contacts.html").link Контакты
          span /
            sup 13
          img.menu-img(src="./assets/images/menu/1.png" alt="img1")

