.social-networks
  ul
    li
      a(href="#" target="_blank") FaceBook
    li
      a(href="#" target="_blank") Instagram
    li
      a(href="#" target="_blank") Telegram
    li
      a(href="#" target="_blank") Tik Tok
