
extends ../layout/main
block variable
  -
    var title_page = 'about'
    var id_page = 'id-page-about'
    var class_page = 'class-page-about'
    var breadcrumbsSubitem = [
      {
        label: 'Про проект',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/menu.js')
  script(defer src='./assets/scripts/footer.js')
  script(defer src='./assets/scripts/text-animation.js')
  script(defer src='./assets/scripts/rotate-animation.js')
block content
  .page-offset
    include ../components/breadcrumbs/breadcrumbs.pug
    .about-page
      ul.about-page-list
        li.about-page-list-item
          .img-wrapper
            .border-style
            img(src="./assets/images/about/1.png").img
            img(src="./assets/images/about/pony.svg").svg
          .text-wrapper
            <svg class="rotate" width="217" height="217" viewBox="0 0 217 217" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="108.5" cy="108.5" r="85" stroke="#6C7A88" stroke-width="47" stroke-dasharray="1 38"/>
              <circle cx="108.5" cy="108.5" r="50.0796" transform="rotate(10.6372 108.5 108.5)" stroke="#6C7A88" stroke-width="26" stroke-dasharray="1 24"/>
              <circle cx="108.5" cy="108.5" r="29.6521" stroke="#6C7A88" stroke-width="16" stroke-dasharray="1 13"/>
            </svg>
            h5 Спрос на виллы
            p После бума строительства и спроса на дешевые апартаменты и одно-двухкомнатные квартиры, стабильно возрастает спрос на индивидуальное жилье. Становятся востребованными элитные виллы, дачи, коттеджи, комфортные таунхаусы, дома для летнего отдыха, дома в деревне. Появляется желание иметь свой частный дом с бассейном на берегу моря в Батуми или купить дом в Грузии горах, с собственной землей и садом. Отмечается запрос на бунгало. Эксперты прогнозируют, что спрос на такую недвижимость в Грузии только будет увеличиваться.
        li.page-text Polo Signature – 6-й жилой комплекс квартала Polo Villas в Батуми всего 51 двухуровневых домов-таунхаусов
          span  в окружении мандариновых садов
          |  вне городского шума и суеты.
        li.about-page-list-item.reverse
          .img-wrapper
            .border-style
            img(src="./assets/images/about/2.png").img
            img(src="./assets/images/about/pony.svg").svg
          .text-wrapper
            h5 Дом у моря по цене квартиры
            p В свою очередь, представляем для Вас малоэтажный жилой комплекс клубного типа с закрытой территорией в Батуми, в Грузии на побережье Черного моря – коттеджный поселок Polo Villas. На сегодня застройщик комплекса компания Polo Construction предлагает выгодный вариант — свой дом у моря по цене средней квартиры. Вы можете купить дом в Батуми по понравившемуся вам проекту за полную стоимость, или приобрести его в кредит, рассрочку от застройщика – мы всегда готовы подобрать для вас максимально комфортные условия покупки дома в Грузии.
        li.page-text Удачное расположение комплекса
          span  в 3-х минутах от моря,
          |  пляжа, зеленого парка и гипермаркета, в 10 минутах от центра Батуми. В 30 минутах от горных рек и тысячелетних мостов.
        li.about-page-list-item
          .img-wrapper
            .border-style
            img(src="./assets/images/about/3.png").img
            img(src="./assets/images/about/pony.svg").svg
          .text-wrapper
            h5 Жилой комплекс клубного типа
            p Закрытая территория, развитая инфраструктура и полная самодостаточность комплекса вдохновляют на активную насыщенную жизнь.
    .btn-up
      <svg width="30" height="32" viewBox="0 0 30 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28.5 10.8214L18.9706 1.5M18.9706 1.5L9.44118 10.8214M18.9706 1.5C18.9706 7.02381 18.9706 19.2452 18.9706 23.9405C18.9706 29.8095 12.9706 30.5 11.5588 30.5C10.4294 30.5 5.38235 30.5 1.5 30.5" stroke-linecap="round"/>
      </svg>

block footer
  include ../includes/footer-2.pug

block header
  include ../includes/header.pug
