
extends ../layout/main
block variable
  -
    var title_page = 'gallery'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'
    var breadcrumbsSubitem = [
      {
        label: 'Галерея',
        link: pagesLink[0].gallery
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/FullScreenScroll.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/menu.js')
block content
    <nav class="frame__nav">
      <button class="frame__nav-button unbutton frame__nav-button--current">Игровая зона</button>
      <button class="frame__nav-button unbutton">Уборная</button>
      <button class="frame__nav-button unbutton">Спальня</button>
      <button class="frame__nav-button unbutton">Улица</button>
      <button class="frame__nav-button unbutton">Бассейн</button>
      <button class="frame__nav-button unbutton">Спорт площадка</button>
      <button class="frame__nav-button unbutton">Внутренний двор</button>
      <button class="frame__nav-button unbutton">Зона барбекю</button>
    </nav>
    .scroll-wrapper
      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 11.1786L6.29412 16M6.29412 16L11.5882 11.1786M6.29412 16C6.29412 13.1429 6.29412 6.82143 6.29412 4.39286C6.29412 1.35714 9.62745 1 10.4118 1C11.0392 1 13.8431 1 16 1" stroke="#E3EBF3" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
      p скрольте или потяните
    .frame__back
        <div class="cursor"> <span class="cursor__text words chars splitting" data-splitting="" style="--word-total:3; --char-total:13;"><span class="word" data-word="+" style="--word-index:0;"><span class="char" data-char="+" style="--char-index:0;">+</span></span><span class="whitespace"> </span><span class="word" data-word="Discover" style="--word-index:1;"><span class="char" data-char="D" style="--char-index:1;">D</span><span class="char" data-char="i" style="--char-index:2;">i</span><span class="char" data-char="s" style="--char-index:3;">s</span><span class="char" data-char="c" style="--char-index:4;">c</span><span class="char" data-char="o" style="--char-index:5;">o</span><span class="char" data-char="v" style="--char-index:6;">v</span><span class="char" data-char="e" style="--char-index:7;">e</span><span class="char" data-char="r" style="--char-index:8;">r</span></span><span class="whitespace"> </span><span class="word" data-word="more" style="--word-index:2;"><span class="char" data-char="m" style="--char-index:9;">m</span><span class="char" data-char="o" style="--char-index:10;">o</span><span class="char" data-char="r" style="--char-index:11;">r</span><span class="char" data-char="e" style="--char-index:12;">e</span></span></span> </div>
    .slides
        .slide
            .slide__inner
                .slide__img
                    .slide__img-inner(style='background-image:url(./assets/images/gallery/1.png)')
                .slide__content
                    .slide__content-img(style='background-image:url(./assets/images/gallery/1.png)')
        .slide
            .slide__inner
                .slide__content
                    .slide__content-img(style='background-image:url(./assets/images/gallery/2.png)')
                .slide__img
                    .slide__img-inner(style='background-image:url(./assets/images/gallery/2.png)')
        .slide
            .slide__inner
                .slide__content
                    .slide__content-img(style='background-image:url(./assets/images/gallery/3.png)')
                .slide__img
                    .slide__img-inner(style='background-image:url(./assets/images/gallery/3.png)')
        .slide
            .slide__inner
                .slide__content
                    .slide__content-img(style='background-image:url(./assets/images/gallery/4.png)')
                .slide__img
                    .slide__img-inner(style='background-image:url(./assets/images/gallery/4.png)')
        .slide
          .slide__inner
            .slide__content
              .slide__content-img(style='background-image:url(./assets/images/gallery/5.png)')
            .slide__img
              .slide__img-inner(style='background-image:url(./assets/images/gallery/5.png)')
        .slide
          .slide__inner
            .slide__content
              .slide__content-img(style='background-image:url(./assets/images/gallery/1.png)')
            .slide__img
              .slide__img-inner(style='background-image:url(./assets/images/gallery/1.png)')
        .slide
          .slide__inner
            .slide__content
              .slide__content-img(style='background-image:url(./assets/images/gallery/2.png)')
            .slide__img
              .slide__img-inner(style='background-image:url(./assets/images/gallery/2.png)')
        .slide
          .slide__inner
            .slide__content
              .slide__content-img(style='background-image:url(./assets/images/gallery/3.png)')
            .slide__img
              .slide__img-inner(style='background-image:url(./assets/images/gallery/3.png)')

block header
  include ../includes/header.pug
