.menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background: url("../images/bg.gif");
  &-wrapper {
    background: rgb(0 0 0 / 87%);
    height: 100%;
    width: 100%;
    .menu-bg {
      @include font-medium;
      line-height: 70%;
      font-size: 630px;
      color: $bc;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      z-index: -1;
      width: 100vw;
      text-align: center;
      @include to(1440px) {
        font-size: 500px;
      }
      @include to(1180px) {
        font-size: 290px;
      }
      @include to(680px) {
        font-size: 130px;
      }
    }
    .menu-close {
      position: absolute;
      right: 90px;
      top: 90px;
      height: 32px;
      width: 32px;
      cursor: pointer;
      svg {
        fill: $light;
        transition: fill .3s ease-in-out;
        width: 100%;
        height: 100%;
      }
      @include to(1440px) {
        top: 50px;
        right: 50px;
        height: 26px;
        width: 26px;
      }
      @include to(680px) {
        top: 50px;
        right: 20px;
        height: 16px;
        width: 16px;
      }
      @include from(1023px) {
        &:hover {
          svg {
            fill: $orange-light;
            transition: fill .3s ease-in-out;
          }
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5% 10%;
    height: 100vh;
    overflow-y: scroll;
    @include to(1180px) {
      padding: 50px;
    }
    @include to(680px) {
      padding: 50px 20px;
    }
    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 100%;
      z-index: 101;
      padding: 5% 10% 5% 0;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background: rgba(26, 30, 33, 1);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(250, 126, 38, 0.9);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(250, 126, 38, 1);
    }

    li {
      margin-bottom: var(--offset50);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      z-index: 1;
      .menu-img {
        display: none;
      }
      a {
        @include font-regular;
        color: $light;
        font-size: var(--font96);
        line-height: 90%;
        span {
          color: $grey;
          margin-left: 3rem;
          position: relative;
          @include to(1180px) {
            margin-left: 2rem;
          }
          @include to(680px) {
            margin-left: 1rem;
          }
          sup {
            font-size: var(--font28);
            position: absolute;
            top: -5px;
          }
        }
      }
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
}


.link img {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.menu canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
